/* .candidate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27);
}


.candidate__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.candidate-container__field {
  margin-right: 10px;
  margin-bottom: 5px;
}

.btn--edit {
  margin-right: 5px;
} */