body {
  padding: 120px 0;
}

.bgColor {
  background-color: #1b3752;
}

.btn {
  font-weight: bold !important; 
  transition: 200ms all ease-in !important;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #4384c2 !important;
  border-color: #4384c2 !important;
}

.btn-secondary {
  background-color: #c53744 !important;
  border-color: #c53744 !important;
}

.errors {
  color: #c53744;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}